<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1 style="color: rgb(0, 0, 255)">Happy Birthday!</h1>
    <div style="color: #222">
      <p>Dear {{userName}},</p>
      <p>
        Wishing you best reasons to Smile,<br />laugh and cheer,<br />May you
        aim higher than ever<br />and attain new heights,<br />Conquer more
        horizons,<br />And reach the zenith of success...
      </p>
      <p>
        Wishing you a very <b>Happy Birthday</b> from the GKM IT Pvt. Ltd.
        family!
      </p>
      <p>
        Thank you for being a valuable member of our team. Hope this bond gets
        stronger in the years ahead.<br />Wishing you lots of special moments
        and all the happiness on your special day :)
      </p>
    </div>
  </body>
</html>
