<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div style="margin-left: auto; margin-right: auto; width:100%; max-width: 500px;">
      <h1 style="color: rgb(0, 0, 255)">Happy Work Anniversary!</h1>
      <div style="color: #222">
        <p style="font-size: 1.17em;">Dear <%= employeeName %>,</p>
        <p style="font-size: 1.17em;">
          Congratulations, on achieving years of exemplary service. Good wishes
          to you for continued success in all your endeavours.
          <br />
        </p>
        <p><img style="display: block; margin-left: auto; margin-right: auto; width: 100%;" src = '<%= imageUrl %>'></img></p>
        <p style="font-size: 1.17em;">
          Wishing you a very Happy Work Anniversary from the GKM IT Pvt. Ltd. family!
        </p>
      </div>
    </div>
  </body>
</html>
